/* :host styles whatever tag this is inside (we may not know) */
 :host{
  display: flex;
  flex-wrap: wrap;
    display:inline-block;
    padding: 10px;
  } 
  input[type='number']{ 
    padding-left:10px;
width:45px;
text-align:center;
}
  /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  /* aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    color: white;
    background-color: #243a47!important;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
  }
  input {width: 42px;} */
  