
<aside>
    <!-- see the CSS for this page - some clever 'flex' layout is used -->
    <div class="container">
      <div class="row">
        <div class="col">
    <form>
      Stock Code: {{stock_name}}<br/>
      Buy <input type="number" [(ngModel)]='buycount'
      name='buycount' min="0" max='{{getMaxBuy()}}'> Shares
      <button (click)='buyStock()' class="btn-primary">Confirm</button>
      <br>
      Price Per Share: {{price|currency:'$'}}
      <br>
      <!-- Total Price: {{price*buycount |currency:'$'}} -->
      <div [hidden]='!shares'>
      Sell <input type="number" [(ngModel)]='sellcount'
      name='sellcount' min="0" max='{{shares}}'> Shares
      <button (click)='sellStock()' class="btn-primary">Confirm</button>
      <br/>
      Owned Shares: {{shares}}
      </div>
      
        
    </form>
    </div>
    </div>
    </div>
</aside>

      
