
<body>
  
  <div class="container">
    <h4 style="text-align: center; padding-top:2%;" id="labels">Market Movers</h4>
    <div class="row" id="myrow">
      <div class="col"></div>
      <div class="col-5">
        <br/>
        <h5 style="text-align: center;" id="labels">Top 5 Gainers</h5>
        <div class="row">
        <div class="col">
          <ul id="list">
          
            <li *ngFor='let g of gainersList' id="labels">{{g}}</li>
           
          </ul>
        </div>
        <div class="col">
          <ul id="list">
          
           
            <li *ngFor='let p of gainerPercents' style="color: green;">{{p}}</li> 
          </ul>
        </div>
      </div>
       
        
      </div>
      <div class="col-5">
        <br/>
        <h5 style="text-align: center;" id="labels">Top 5 Losers</h5>
        <div class="row">
          <div class="col">
            <ul id="list">
            
              <li *ngFor='let g of losersList' id="labels">{{g}}</li>
             
            </ul>
          </div>
          <div class="col">
            <ul id="list">
            
             
              <li *ngFor='let p of loserPercents' style="color: red;">{{p}}</li> 
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <br/>
    <section>
    <div class="row" id="myrow">
      <h6 id="labels" style="text-align: center;">My Stock Data</h6>
      <div class="col">       
        <form>
         <br/>
         <a id="labels">Select user id (1-4) to view stock data</a><br/>
          <input type='number' min="1" max="4" [(ngModel)]='paramObj2.id' name='id' />
          <br/>
        </form>
        <br/>
        <button (click)='makeServiceCall()' class="btn-primary">Submit</button>
      </div>
      <div class="col">
        <ul id="list">
            
          <li *ngFor='let a of accountList' id="labels">{{a}}</li>
         
        </ul>
      </div>
      <div class="col">
        <ul id="list">
        
         
          <li *ngFor='let p of accountPercents' id="labels" [ngStyle]='{color:getColor(p)}'>{{p}}</li> 
        </ul>
      </div>
    </div>
  </section>
  </div>
</body>
