
<body>
  <section></section>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-5">
        <h5 style="text-align: center;">Top 5 Gainers</h5>
        <div class="row">
        <div class="col">
          <ul id="list">
          
            <li *ngFor='let g of gainersList'>{{g}}</li>
           
          </ul>
        </div>
        <div class="col">
          <ul id="list">
          
           
            <li *ngFor='let p of gainerPercents'>{{p}}</li> 
          </ul>
        </div>
      </div>
       
        
      </div>
      <div class="col-5">
        <h5 style="text-align: center;">Top 5 Losers</h5>
        <div class="row">
          <div class="col">
            <ul id="list">
            
              <li *ngFor='let g of losersList'>{{g}}</li>
             
            </ul>
          </div>
          <div class="col">
            <ul id="list">
            
             
              <li *ngFor='let p of loserPercents'>{{p}}</li> 
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</body>
