ul#list{
    list-style-type: none;
    
}
body{
    background-color: #091748!important;
}
.container{
    
    height:100vh;
}

#myrow{
    background-color: #1a307ac2; padding-bottom:10px; padding-top:10px
}
#labels{
    color: rgb(226, 226, 226);
}


