<body>
    
    <!-- see the CSS for this page - some clever 'flex' layout is used -->
    <div class="card text-center border-secondary mb-3" style="max-width: 18rem;">
    
        <div class="card-body" id = "cards">
            <form>
            <div class="card-header" id="labels">Code: {{stock_name}}<br/></div>
            <div class="card-text" id="labels">Price Per Share: {{price|currency:'$'}}</div>
            <div class="card-footer bg-transparent border-secondary" id="labels"><b>Owned Shares: {{shares}}</b></div>
            </form>
        </div>
    </div>
</body>
