<body>
<section>
    <section>
        <h4 style="text-align: center; padding-top:2%;" id="labels">Valuation Summary</h4>
       
      </section>
    <div class="container" id="cash_flow">
        <div class="row">
            <div class="col-8" style="padding:0;margin:0">
                <div class="card">
                    <div class="row">
                       
                <div class="col-6">
                    <br/>
                <h3 id="labels">Net Worth</h3>
                <h5 id="labels">Total Balance: ${{(TotalInvestments+AccountBalance).toFixed(2)}}</h5>
                <p id="labels">Cash: ${{AccountBalance}} <br/> Investments: ${{TotalInvestments.toFixed(2)}}</p>
                <br/>
               
                <form id="labels" class="userId">
                    User ID (1-4)
                    <input type='number' min="1" max="4" [(ngModel)]='updateCash.id' name='id' />
                    <button (click)='updateUserId()' class="btn-primary" style="margin-left: 5px;">Go</button>
                </form>
               </div>
               <div class="col-6">

                <canvas id="myCanvasId" width="300" height="300">{{myChart}}</canvas>
               </div>
             </div>
               
                </div>
            </div>
               
            <div class="col-4" id="labels" style="padding-right:0;margin-right:0">
                <div class="card">
                    <br/>
                <h3>Cash Services</h3>
                <br/>
                <h4>Total Checking</h4>
                <h5>Account Balance: ${{AccountBalance}}</h5>
                <br/>
                <form>
                    Deposit Cash <input type="checkbox" name="test" 
                    [checked]="currentlyChecked === checkBoxAction.depositCash" 
                    (click)="selectCheckBox(checkBoxAction.depositCash)">
                    Withdrawl Cash <input type="checkbox" name="test" 
                    [checked]="currentlyChecked === checkBoxAction.withdrawalCash" 
                    (click)="selectCheckBox(checkBoxAction.withdrawalCash)">
                    <br/>
                    Amount:
                    <input [(ngModel)]='updateCash.amount' name='amount' type="number" step="0.01"/>
                </form>
                <br>
                <p>
                    <button (click)='updateCashCall()' class="btn-primary">Submit</button>
                <p>
            </div>
            </div>
        </div>
        <br/>
            <div class="row" id="myrow">
                <div id="labels">
                    <div class="col" >
                        <h4>Current Stocks Owned </h4>
                        <div id="stocks">
                            <app-stock-card
                                *ngFor="let item of currentStocks; let i=index"
                                [stock_name]='item.stock_name'
                                [account_id]='item.account_id'
                                [shares]='item.shares'
                                [index]='i'
                                [id]='item.id'
                                (calculatePricesEvent)='handleStockPricesEvent($event)'
                            ></app-stock-card>
                        </div>
                    </div>
                    <div class="col-6">  
                        <!-- <canvas id="StockChart" width="200" height="200">{{stocksChart}}</canvas> -->
                    </div>
                </div>
            </div>
                
       

    </div>

    <!-- <section>
        <h1>VALUE of tesla stock is </h1>
        <button (click)='makeServiceCall()'>Go</button>
        <p>{{reportData ? reportData: null}}</p>
    </section> -->
    
</section>
</body>