
<body>
<section>
  <h4 style="text-align: center; padding-top:2%;" id="labels">Historical Account Data</h4>
 
</section>
<section onload="makeServiceCall();">
  <div class="container">
    <div class="row" >
      <div class="col">
        <h6 id="labels">Chart Fields</h6>
        
        <form>
          <a id="labels">Time Period</a>
          <select [(ngModel)]='paramObj.timePeriod' name='timePeriod'>
            <option value='date'>Today</option>
            <option value='lastweek'>Last Week</option>
            <option value='lastmonth'>Last Month</option>
            <option value='lastquarter'>Last Quarter</option>
            <option value='lastyear'>Last Year</option>
            <option value='lastquarter'>Last Quarter</option>
            <option value='pastmonth'>Past Month (Last 31 days)</option>
            <option value='pastyear'>Past Year (Last 365 days)</option>
            <option value='yeartodate'>Year to Date</option> 
          </select><br/><br/>
          <a id="labels">User Id (1-4)</a><br/>
          <input type='number' min="1" max="4" [(ngModel)]='paramObj.id' name='id' />
          <br/><br/>
          <a id="labels">Date</a><br/>
          <input type="date" [(ngModel)]='paramObj.currentDate' name='currentDate'/>
        </form>
        <br/>
        <button (click)='makeServiceCall()' class="btn-primary">Submit</button>
        <!-- <pre>{{reportData |json}}</pre> -->
      </div>
      <div class="col-6">
      
        <canvas id="canvas" width="400"></canvas>
      </div>
      <div class="col">
        <form>
          <br/>
          <a id="labels">Value Type</a><br/>
          <select [(ngModel)]='valType' name='valType' (ngModelChange)="makeServiceCall()">
            <option value='networth'>Net Worth</option>
            <option value='investment'>Investment</option>
            <option value='cash'>Cash</option>
        
          </select>
          </form>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">

      </div>
      <div class="col-8">
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">User Id</th>
              <th scope="col">Date</th>
              <th scope="col">Cash ($)</th>
              <th scope="col">Investment ($)</th>
              <th scope="col">Networth ($)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of reportData">
              
              <td>{{d.accountId}}</td>
              <td>{{d.date}}</td>
              <td>{{d.cash}}</td>
              <td>{{d.investment}}</td>
              <td>{{d.networth}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="col">
       
      </div>
      
    </div>
  </div>
 
 
  
</section>
</body>

